# This is a sample template. Fill in your blanks. The defaults are what's shown
# and commented out.

# These are the only mandatory keys
owner = "mygithuborg"
repo = "myreponame"

# This allows you to go verbose even if you don't use the --verbose
# cli option
#verbose = false

# If a PR has one of these explicit labels, leave it untouched.
#exclusion_labels = [ "dontmerge", "bors-dont-merge" ]

# Only touch PRs created by these specific users.
# Note that the defaults are these common library upgrading bots.
#inclusion_users = [ "renovate", "pyup-bot" ]

# Other options are 'squash', 'rebase', or 'bors'
#merge_method = "merge"

# When a isn't mergeable just because it's behind, you can trigger an update
# which means GitHub merges master into the branch.
#update_behind = false
